.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto auto;
  background-image: linear-gradient(
    to left bottom,
    #170736,
    #180834,
    #180833,
    #190931,
    #190a30,
    #1f0c32,
    #260d34,
    #2d0e36,
    #3d0e3a,
    #4c0d3c,
    #5c0c3c,
    #6b0b3b
  );
}

.middle {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBtnContainer {
  width: 100%;
  background-color: #180834;
  display: flex;
  justify-content: flex-start;
}

.createPost {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.createPostBtn {
  background-image: linear-gradient(
    to right,
    #c21500 0%,
    #ffc500 51%,
    #c21500 100%
  );
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  transition: 0.5s;
  transition: transform 0.5s;
  background-size: 200% auto;
  font-size: 1.5rem;
  color: white;
  font-family: "Monstrett";
}
.createPostBtn:hover {
  background-position: right center;
  transform: scale3d(1.1, 1, 1);
}

@media (min-width: 768px) {
  .menuBtnContainer {
    display: none;
  }
}

@media (max-width: 500px) {
  .middle {
    width: 100%;
  }
}
