.container {
  width: 100%;
  margin: 30px;
  transition: transform 0.5s;
}
.container:hover {
  transform: scale(1.1);
}

.image {
  width: 80%;
  object-fit: contain;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 18px 21px 42px -4px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 18px 21px 42px -4px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 18px 21px 42px -4px rgba(0, 0, 0, 0.46);
}

.like {
  display: flex;
  width: 18%;
  align-items: center;
  margin-left: 30px;
  margin-top: 10px;
}

.count {
  font-family: "Monstrett";
  font-size: 1.2rem;
  margin-left: 10px;
  color: white;
}
