.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.createPost {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

.createPostBtn {
  background-image: linear-gradient(
    to right,
    #c21500 0%,
    #ffc500 51%,
    #c21500 100%
  );
  width: 200px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
  transition: transform 0.5s;
  background-size: 200% auto;
  font-size: 1.3rem;
  color: white;
  font-family: "Monstrett";
}
.createPostBtn:hover {
  background-position: right center;
  transform: scale3d(1.1, 1, 1);
}

@media (min-width: 500px) {
  .createPost {
    display: none;
  }
}
