.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: auto auto;
  background-color: #1a1a1d;
}

.middle {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBtnContainer {
  width: 100%;
  background-color: #180834;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .menuBtnContainer {
    display: none;
  }
}

@media (max-width: 500px) {
  .middle {
    width: 100%;
  }
}
