.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto auto;
  background-image: linear-gradient(
    to left bottom,
    #170736,
    #180834,
    #180833,
    #190931,
    #190a30,
    #1f0c32,
    #260d34,
    #2d0e36,
    #3d0e3a,
    #4c0d3c,
    #5c0c3c,
    #6b0b3b
  );
}

.middle {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBtnContainer {
  width: 100%;
  background-color: #180834;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .menuBtnContainer {
    display: none;
  }
}

@media (max-width: 500px) {
  .middle {
    width: 100%;
  }
}
