@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 2.5rem;
  font-family: "Allura", cursive;
  margin-left: 10px;
  color: #c3073f;
  margin-bottom: 20px;
}

.posts {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
