.container {
  display: flex;
  width: 100%;
  height: 80vh;
  background: transparent;
  margin-top: 10px;
}
.peopleContainer {
  width: 28%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border-radius: 10px;
}

.people {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgb(54, 52, 52);
  margin-bottom: 3px;
  padding: 10px 0 10px 8px;
}

.name {
  font-size: 1.1rem;
  color: white;
  margin-left: 20px;
}

.chatContainer {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #29292b;
  border-radius: 10px;
}

.message {
  height: 70%;
  overflow-y: scroll;
}

.inputContainer {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.inputMessage {
  width: 90%;
  padding: 2%;
  font-size: 1.2rem;
  border: none;
  padding-left: 3%;
  background: transparent;
  border: 0.5px;
  border-bottom: 2px solid;
  border-color: linear-gradient(
    to right,
    #c21500 0%,
    #ffc500 51%,
    #c21500 100%
  );
  color: grey;
}

.messageBtn {
  background-color: #950740;
  transition: 0.5s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  margin: 2%;
  border: 2px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messageBtn:hover {
  transform: scaleX(1.05);
}

.senderContainer {
  background-color: #6f2232;
  width: 50%;
  word-wrap: break-word;
  margin: 2%;
  border-radius: 12px;
  border-top-right-radius: 0;
  padding: 2%;
  margin-left: auto;
  color: white;
  font-family: "Montserrat";
}

.receiverContainer {
  background-color: #1a1a1d;
  width: 50%;
  word-wrap: break-word;
  margin: 2%;
  border-radius: 12px;
  border-top-left-radius: 0;
  padding: 2%;
  color: white;
  font-family: "Montserrat";
}

.heading {
  font-size: 1.3rem;
  margin: auto auto;
  color: white;
}

.heading2 {
  font-size: 1rem;
  color: #737379;
}

.heading2 span {
  color: #950740;
  cursor: pointer;
  margin-left: 10px;
}

.heading3 {
  font-size: 1rem;
  color: #737379;
  margin: auto auto;
  text-align: center;
  margin-top: 5px;
}

.activeFriend {
  background-color: #29292b;
}

.nofriendsCont {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .peopleContainer {
    width: 100%;
    margin-bottom: 30px;
    overflow-y: unset;
  }
  .chatContainer {
    width: 100%;
  }
  .message {
    width: 100%;
  }
}
