.container {
  max-width: 100%;
  margin: 30px;
  margin-left: 0;
  transition: transform 0.9s;
  max-width: 1000px;
}
.container:hover {
  transform: scale(1.05);
}

.profileDetails {
  width: 80%;
  display: flex;
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
  border-radius: 10px 10px 0 0;
  align-items: center;
}
.profileName {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.image {
  width: 80%;
  object-fit: contain;
  border-top: none;
  border-bottom: none;
}

.postCardDetails {
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
  width: 78%;
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  padding: 1%;
  overflow-x: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Ubuntu" sans-serif;
}

.caption {
  font-size: 1.2rem;
  padding: 0 10px 10px 10px;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  word-break: break-all;
  color: black;
}

.like {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.count {
  font-family: "Monstrett";
  font-size: 1.5rem;
  margin-left: 10px;
  color: rgb(94, 72, 72);
  font-family: "Ubuntu" sans-serif;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 10px;
  }
  .image {
    width: 98%;
    border: none;
  }
  .profileDetails {
    width: 98%;
    padding: 0;
  }
  .postCardDetails {
    width: 96%;
  }
  .caption,
  .count,
  .profileName {
    font-size: 1rem;
  }

  .container:hover {
    transform: none;
  }
}
