.profileCard {
  height: 40vh;
  width: 25%;
  min-width: 280px;
  border-radius: 20px;
  box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1d;
}

.name {
  font-size: 1rem;
  color: white;
  margin-top: 20px;
}
.branch {
  font-size: 0.9rem;
  color: grey;
  text-align: center;
  padding: 2px;
}

.followBtn {
  background-color: inherit;
  margin-top: 30px;
  padding: 8px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  box-shadow: 0 0 20px #190931;
  border-radius: 10px;
  display: block;
  border: 2px solid #c3073f;
  cursor: pointer;
  font-family: "Monstrett";
  font-size: 0.9rem;
  font-weight: bold;
}

.followBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #950740;
  text-decoration: none;
}

.profileStats {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 30px;
  font-size: 0.85rem;
}
.number {
  font-family: "Montserrat";
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: grey;
}

@media (max-width: 500px) {
  .profileCard {
    height: 40vh;
    margin-bottom: 50px;
  }
  .name {
    font-size: 0.9rem;
  }
  .branch {
    font-size: 0.85rem;
  }
}
