.container {
  width: 100%;
}
.form_row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  flex-wrap: wrap;
}
.profile_input_file {
  display: none;
}
.image_btn {
  position: relative;
  left: 135px;
  bottom: 35px;
  z-index: 1;
}

.profile_input {
  background-color: inherit;
  color: white;
  border: 3px solid #950740;
  padding: 10px;
  margin: 3% 0;
  font-size: 1.2rem;
  border-radius: 8px;
  font-family: "Varela";
  width: 90%;
  max-width: 400px;
}

.profile_btn {
  background-color: #c3073f;
  transition: 0.5s;
  transition: transform 0.5s;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.profile_btn:hover {
  transform: scaleX(1.02);
  background-color: #950740;
}

::-webkit-input-placeholder {
  color: #4e4e50;
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form_row {
    width: 95%;
    align-items: center;
    justify-content: center;
  }
  .image_btn {
    left: 65px;
  }
}
