.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.slide {
  width: 85%;
  height: 400px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px;
  align-items: flex-start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sliderContent h2 {
  margin: 16px 0;
}
.sliderContent p {
  margin: 0;
  margin-bottom: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.btns {
  padding-top: 50px;
}

.btns .btn {
  cursor: pointer;
  background-color: #950740;
  border-radius: 50%;
  padding: 10px;
}

.btns .btn:last-child {
  margin-left: 40px;
}

@media (max-width: 500px) {
  .btns {
    padding-top: 5px;
    padding-left: -10px;
  }
  .btns .btn {
    padding: 5px;
  }
  .slideC {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
