.profileCard {
  height: 45vh;
  width: 40%;
  min-width: 300px;
  border-radius: 20px;
  box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.5s;
  background-image: linear-gradient(
    to left bottom,
    #170736,
    #180834,
    #180833,
    #190931,
    #190a30,
    #1f0c32,
    #260d34,
    #2d0e36,
    #3d0e3a,
    #4c0d3c,
    #5c0c3c,
    #6b0b3b
  );
}

.name {
  font-size: 1.5rem;
  color: white;
}
.branch {
  font-size: 1.2rem;
  color: grey;
  margin-top: -20px;
}

.followBtn {
  background-image: linear-gradient(
    to right,
    #c21500 0%,
    #ffc500 51%,
    #c21500 100%
  );
  margin: 10px;
  padding: 15px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #190931;
  border-radius: 10px;
  display: block;
  border: none;
}

.followBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.profileStats {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.number {
  font-family: "Montserrat";
  margin-bottom: 10px;
  font-size: 1rem;
  color: grey;
}

@media (max-width: 500px) {
  .profileCard {
    height: 55vh;
    margin-bottom: 50px;
  }
  .name {
    font-size: 1.2rem;
  }
  .branch {
    font-size: 1rem;
  }
}
