.container {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  right: 0;
  min-width: 350px;
}

.profileCard {
  margin-top: 80px;
  height: 400px;
  width: 75%;
  border-radius: 20px;
  box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profileCard:hover {
  background-position: right center;
}

.profileImg img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 1.2rem;
  color: white;
}
.branch {
  font-size: 0.9rem;
  color: grey;
  margin-top: -20px;
  width: 80%;
  text-align: center;
}

.updateProfileBtn {
  background-color: inherit;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #190931;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  border: 3px solid #6f2232;
  font-weight: bold;
  font-family: "Monstrett";
}

.updateProfileBtn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.profileStats {
  display: flex;
  justify-content: space-between;
  width: 65%;
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.number {
  font-family: "Montserrat";
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: white;
}
.stateName {
  font-size: 0.7rem;
}

.createPost {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.createPostBtn {
  background-color: inherit;
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  transition: 0.5s;
  transition: transform 0.5s;
  background-size: 200% auto;
  font-size: 1.5rem;
  color: white;
  font-family: "Monstrett";
  cursor: pointer;
}
.createPostBtn:hover {
  background-position: right center;
  transform: scale3d(1.1, 1, 1);
}

@media (max-width: 500px) {
  .container {
    display: none;
  }
}

/* button css */

.button2 {
  position: relative;
  display: inline-block;
  padding: 20px 60px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Alegreya", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
  cursor: pointer;
  font-size: 1.2rem;
}
.button2:hover {
  border: 1px solid transparent;
}
.button2:hover span {
  position: absolute;
  display: block;
}
.button2:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.button2:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.button2:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%,
  100% {
    height: 2px;
    right: 100%;
  }
}
.button2:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
