.auth_container {
  background-image: linear-gradient(
    to left bottom,
    #170736,
    #180834,
    #180833,
    #190931,
    #190a30,
    #1f0c32,
    #260d34,
    #2d0e36,
    #3d0e3a,
    #4c0d3c,
    #5c0c3c,
    #6b0b3b
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_card {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  max-width: 1100px;
  border-radius: 50px;
}
.card_left {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card_left img {
  width: 100%;
  height: 100%;
}

.card_left image {
  width: 100%;
}

.card_right {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(31 39 47);
}

.brandlogo {
  position: absolute;
  top: 60px;
  height: 190px;
}

.svgIcons {
  height: 35px;
  font-weight: bold;
}

.largeFont_top {
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 90px;
}

.largeFont {
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
}

.smallFont {
  color: white;
  font-size: 1.1rem;
}

.oauth_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.oauth_btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  background-color: white;
  border-radius: 50px;
  color: black;
  margin: 8px;
  text-align: center;
  width: 230px;
  padding: 3px 12px 3px 12px;
  font-family: "Varela", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

.oauth_p {
  display: inline-block;
  cursor: pointer;
}

.oauth_logo {
  display: flex;
}

.authfooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.link {
  text-decoration: none;
  color: white;
}

@media (max-width: 1024px) {
  .brandlogo {
    display: none;
  }
  .largeFont_top {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .card_left {
    display: none;
  }
  .card_right {
    width: 100%;
  }

  .oauth_btn {
    width: min-content;
  }
  .oauth_text {
    display: none;
  }
  .largeFont_top {
    font-size: 20px;
  }
  .smallFont {
    font-size: small;
  }
  .authfooter {
    align-items: center;
  }
  .auth_card {
    height: 70%;
  }
}
